# Exported from Render on 2025-12-12T05:55:21Z
version: "1"
services:
- type: web
  name: n8n-service
  runtime: image
  image:
    url: docker.io/n8nio/n8n:latest
  plan: standard
  envVars:
  - key: PORT
    sync: false
  - key: N8N_EDITOR_BASE_URL
    sync: false
  - key: WEBHOOK_URL
    sync: false
  region: oregon
  disk:
    name: disk
    mountPath: /var/data
    sizeGB: 10
  autoDeployTrigger: commit
